@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

h1{
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

p{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

#marked{
  text-decoration: 2px solid underline #F3BA2F;
  text-underline-offset: 4px;
  padding: 6px;
  color: black;
  transition: .5s;
}

#marked:hover{
  background-color: #F3BA2F;
  border-radius: 8px;
  transition-duration: .3s;
}

.info-data p a{
  text-decoration: 2px solid underline #F3BA2F;
  text-underline-offset: 4px;
  padding: 6px;
  color: black;
  transition: .5s;
}

.info-data p a:hover{
  transition-duration: .3s;
  color :#F3BA2F;
  text-underline-offset: 2px;
}